.main{
    width: 500px;
    height: 500px;
    background-color: red;
    color: white;
}

.div-one{
    width: 300px;
    height: 100px;
    margin-top: 30px;
    margin-left: auto;
    background-color: blue;
    padding-top: 50px;
    

/* margin le purai div lai nai sardinxa 
Padding le vitra ko content lai sardinxa */
/* padding: auto;  make auto padding  */
/* padding: 5px  le set 5px padding to top left, right, bottom */
    padding: 15px 0px 0px 15px;   /* this is TOP, RIGHT, BOTTOM, LEFT*/

}

.div-two{
    height: 100px;
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 50px;
    padding-top: 50px;
    border: 5px solid green;
    background-color: grey;
}